.container{
    padding: 0 7%;
}

/* ---------------exclusives--------------- */

.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
}
.exclusives div img{
    width: 100%;
    border-radius: 10px;
}
.exclusives div{
    position: relative;
}
.exclusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

/* ---------------trending places--------------- */

.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
    margin-bottom: 30px;
}
.trending div img{
    width: 100%;
    border-radius: 10px;
}
.trending h3{
    font-weight: 600;
    margin-top: 10px;
}